@model Scrum_Manager.Models.Usuario
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SCRUM Manager</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <!-- Custom Stylesheet -->
    @Styles.Render("~/Content/login")
</head>
<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">SCRUM <span>Manager</span></span></h1>
        </div>
        <div class="login-box">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post)){
            @Html.AntiForgeryToken()
                <div class="box-header">
                <h2>Log In</h2>
            </div>
            @Html.LabelFor(model => model.email, new { @class = ".login-box label" })
            <br />
             @Html.TextBoxFor(model => model.email, new { @class = ".login-box input" })
             <br />
             @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(model => model.contrasena, new { @class = ".login-box label" })
            <br />
                @Html.PasswordFor(model => model.contrasena, new { @class = ".login-box input" })
                <br />
                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br />
            <input type="submit" value="Entrar"/>
            <br />
            <a href="#"><p class="small">¿Olvidó su contraseña?</p></a>
            }
        </div>
    </div>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
}